body{
        background-color:white;
        width:700px;
        margin-right: auto;
        margin-left : auto;
}

h1{
    border-bottom: dashed 3px black;
    border-top:dashed 3px black;
    text-align: center;
    background-color: aliceblue;
}

pre{
    color: white;
    background-color: darkslategray;
}

.title{
    background-color: lightblue;
    text-align: center;
    border-bottom: double 5px green;
    border-top: double 5px green ;
}

.prof img{
    float: left;
    width: 25%;
    height: 25%;
}

.under_reset{
    clear: both;
}

.prof p{
    line-height:50%;
}

.polytool img{
    width: 50%;
    height: 50%;
}

.tools img{
    width: 50%;
    height: 50%;
}

.gear_mel img{
    width: 50%;
    height: 50%;
}


.gun img{
    float: left;
    width: 50%;
    height: 50%;
}
